<div class="container mt-5">
  <form #form="ngForm" (ngSubmit)="guardarTarea(form)">
    <div class="form-group">
      <label for="exampleInputEmail1">Descripción de la Tarea: </label>
      <input 
      [(ngModel)]="tarea.nombre"
      name="nombre"
      required

      type="texto" 
      class="form-control" 
      id="exampleInputEmail1" 
      aria-describedby="emailHelp"

      #titulo="ngModel"
      />
    </div>
    <button [disabled]="form.invalid"
    type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="card-columns mt-5">
    <app-atividad *ngFor="let item of listTareas";   [tarea]="item"></app-atividad>
  </div>
</div>